\TestFrameworkForAngularApp\TestingFrameworkForAngular\AngularTestProject\bin\*
\TestFrameworkForAngularApp\TestingFrameworkForAngular\AngularTestProject\obj\*
\TestFrameworkForAngularApp\TestingFrameworkForAngular\TestingFrameworkForAngular\obj\*